<div class="popover_title_wrapper" [class]="className">
  <p class="popover_title"> {{data.label}} <span class="label_description">{{data.description}}</span> </p>
  <button class="exit_button" (click)="this.dismiss()">
    <img src="../../../../assets/img/dismissalX.png" />
  </button>
</div>

<ion-slides pager="true">
  <ion-slide>
    <div class="slide-wrapper">
      <h1 class="popover-header">{{pollutantInfo[0].title}}</h1>
      <p class="popover-text"> {{pollutantInfo[0].text}}

      </p>

    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide-wrapper">
      <h1 class="popover-header">{{pollutantInfo[1].title}}</h1>

      <p class="popover-text">{{pollutantInfo[1].text}}
    </p>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[0]}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[1]}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[2]}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[3]}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[4]}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[5]}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[6]}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <p class="second-popover-header">{{pollutantInfo[1].list[7]}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ion-slide>
  <ion-slide>
    <div class="slide-wrapper">
      <h1 class="popover-header">{{pollutantInfo[2].title}}</h1>
     <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img class="icon" src="../../../../assets/icon/lungs.png">
          </ion-col>
          <ion-col size="8">
            <p class="second-popover-header">Dust from roads</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <img class="icon" src="../../../../assets/icon/lungs.png">
          </ion-col>
          <ion-col size="8">
            <p class="second-popover-header">Industrial Processes</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <img class="icon" src="../../../../assets/icon/lungs.png">
          </ion-col>
          <ion-col size="8">
            <p class="second-popover-header">Fuel combustion</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <img class="icon" src="../../../../assets/icon/lungs.png">
          </ion-col>
          <ion-col size="8">
            <p class="second-popover-header">Power plants</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
  <ion-slide>
    <div>
      <h1 class="popover-header">{{pollutantInfo[3].title}}</h1>
      <ion-grid>
        <ion-row>
          <ion-col [class]="col1" size="12">
            <p class="second-popover-header">blah blah blah</p>
            <p class="popover-text">small blah blah blah</p>
          </ion-col>
          <ion-col [class]="col2" size="12">
            <p class="second-popover-header">blah blah blah</p>
            <p class="popover-text">small blah blah blah</p>
          </ion-col>
          <ion-col [class]="col3" size="12">
            <p class="second-popover-header">blah blah blah</p>
            <p class="popover-text">small blah blah blah</p>
          </ion-col>
          <ion-col [class]="col4" size="12">
            <p class="second-popover-header">blah blah blah</p>
            <p class="popover-text">small blah blah blah</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide-wrapper">
      <h1 class="popover-header">{{pollutantInfo[4].title}}</h1>


      <ion-list>
        <ion-item *ngFor="let item of items">{{ item }} </ion-item>
      </ion-list>

      <ul class="references-list">
        <li><a>
            i.com</a>
        </li>
        <li>
          <a>
            am.com
          </a>
        </li>
        <li>
          <a>
            not.com
          </a>
        </li>
        <li>
          <a>
            your.com
          </a>
        </li>
        <li>
          <a>
            father.com<img src="..\..\..\..\assets\icon\openInNewTab.svg">
          </a>
        </li>
      </ul>
    </div>
  </ion-slide>
</ion-slides>