<div class="popover_title_wrapper"  [class] = "className" >
  <p class="popover_title"> PM2.5 Fine Particles </p>
  <button (click)="this.dismiss()">
    <img src="../../../../assets/img/dismissalX.png"/>
  </button>
</div>

<ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <div class="slide-wrapper">
                <h1>Slide 1</h1>
                <p>Hello there I am not your father</p>

        </div>
    </ion-slide>
    <ion-slide>
        <div>
      <h1>Slide 2</h1>
      <p>Hello there I am not your father</p>
      <p>Hello there I am not your father</p>

      <p>Hello there I am not your father</p>

      <p>Hello there I am not your father</p>

      <p>Hello there I am not your father</p>

      <p>Hello there I am not your father</p>
    </div>
      
    </ion-slide>
    <ion-slide>
            <div>
                    <h1>Slide 1</h1>
                    <p>Hello there I am not your father</p>
    
            </div>
    </ion-slide>
  </ion-slides>