.popover_title_wrapper {
    background: #89D6E0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.popover_title_wrapper button {
    background: none;
}

.popover_title_wrapper button img {
    width: 22px;
    height: 22px;
}

.green {
    background: #9BC69F;
}
.yellow {
    background: #F6DB7A;
}
.orange {
    background: #F5935B;
}
.red {
    background: #DC6E4C;
}

.popover_title {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.label_description {
    font-size: 1rem;
}
.exit_button {
    padding:0;
}
#popover_text {
    padding-left: 1rem;
    padding-right: 1rem;
}

.swiper-slide {
    height: 100%;
}

.slide-wrapper {
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.popover-header {
    color: #599AA3;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}
.popover-text {
    text-align: left;
    font-size: 0.7em;
    margin: 0;
    color: #555555;
    visibility: visible;
}
.second-popover-header {
    text-align: left;
    font-weight: 600;
    font-size: 0.75em;
    margin-bottom: 0;
    color: #555555;
}
ion-row{
    padding-top: 1rem;
}
.icon{
    width: 4rem;
    text-align: left;
    padding: 0;
}
ion-grid{
    margin: 0;
    padding-left: 0;
    padding-right: 0;   
}
.highlighted {
    font-weight: 700;
    background-color: #F6DB7A;
}