.pollutantItemContainer {
    padding:0.5em;
    margin-bottom: 1em;
    color: #555555;
    text-align: center;
    list-style: none;
}
.green {
    background: #9BC69F;
}
.yellow {
    background: #F6DB7A;
}
.orange {
    background: #F5935B;
}
.red {
    background: #DC6E4C;
}
