.pollutantItemContainer {
    padding:0.5em;
    margin-bottom: 1em;
    background: #9BC69F;
    color: #555555;
    height: 82px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}