<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Health
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="gradient-bg">
	<ion-card class="white-card">
		<ion-card-header>
			<h2>
				What are health effects of breathing polluted air in SW Detroit?
			</h2>
		</ion-card-header>
		<ion-card-content>
			<p class="bigLs">
				According to <i>Pollution and southwest Detroit</i> by Omar Abdel-Baqui some known chemicals polluting air in southwest Detroit are PM2.5,
				sulfur dioxide, nitrous oxide and ozone. These pollutants are thought to cause cardiovascular and respiratory diseases, kidney failure and cancer. The president of Detroiters Working for Environmental Justice, Guy Williams said gasses emitted by Marathon make the outside air quality bad and get trapped in homes and buildings, like schools, restaurants and stores.
			</p>
			<blockquote>
				“These particles and chemicals can penetrate our body and enter our bloodstream and wreak havoc on health,” said Guy.
			</blockquote>
			<p class="bigLs">
				Health issues are common in schools and asthma a big problem. Some schools have taken iniciative, teaching  students about pollution's effects. Omar Abdel-Baqui wrote:
			</p>
			<blockquote>
			 "At Munger Elementary-Middle School in southwest Detroit, asthma is the number one reason students miss class, according to Charlotte Moss, a Henry Ford nurse stationed at Munger. Due to high asthma rates in the community, Munger Elementary initiated a six-session program educating students about the respiratory disease and medication."
			 </blockquote>

			<img src="https://www.gannett-cdn.com/-mm-/a98a624de7c393bee55318166953890fd5c0f5a5/c=136-0-2264-1600/local/-/media/2016/02/17/DetroitFreePress/DetroitFreePress/635913305516700703-Marathon-010416-005-rb.jpg?width=534&height=401&fit=crop">
			<p class="bigLs">
				Julie Mack, the author of <i>Air pollution causes 275 deaths in Michigan a year, report estimates</i> states:</p>
			<blockquote class="bigLs">
				"An estimated 275 people in Michigan die each year and another 640 experience serious illness as a result of air pollution"<br />-Julie Mack <a href="https://www.mlive.com/news/2016/08/air_pollution_causes_275_death.html">MLive 8/10/16</a>
			</blockquote>

			<p class="bigLs">
				Three times as many people die from air pollution every year in Detroit as in the United States.
			</p>

		</ion-card-content>
	</ion-card>
	<ion-card class="white-card">
		<ion-card-header>
			<h2>
				Sources
			</h2>
		</ion-card-header>
		<ion-card-content>
			<ul>
				<li>
					<i>Pollution and southwest Detroit</i>, Omar Abdel-Baqui for The Latino Press, retrieved from Detroit Journalism Cooperative, <a href="https://www.detroitjournalism.org/2018/02/09/pollution-southwest-detroit/">https://www.detroitjournalism.org/2018/02/09/pollution-southwest-detroit/</a>
				</li>
				<li>
					<i>Air pollution causes 275 deaths in Michigan a year, report estimates</i>, Julie Mack, retrieved from MLive,
					<a href="https://www.mlive.com/news/2016/08/air_pollution_causes_275_death.html">https://www.mlive.com/news/2016/08/air_pollution_causes_275_death.html</a>
				</li>
			</ul>
		</ion-card-content>
	</ion-card>
</ion-content>
