<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/airQualiD.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-bg home ion-padding">
  <Gauge (outputStatement)="statement = $event"></Gauge>

  <p class="center-text" id="statement">{{statement}}</p>

  <ion-icon name="ios-arrow-down" expand="full"></ion-icon>

  <ion-card class="white-card ion-padding">
    <div class="card-title">
      <h2> 
        AQI of the Past Week
      </h2>
      <LineChart></LineChart>
    </div>
    
  </ion-card>

  <ion-card class="white-card ion-padding">
    <div class="card-title">
      <h2> 
        Pollutants
      </h2>
    </div>
          <PollutantList></PollutantList>
  </ion-card>
</ion-content>