.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
#statement {
  color: white;
  font-size: 1.5em;
}
.home svg {
  max-width: 100%;
}
ion-title img {
  max-width: 50%;
}

.chart-container{
	position: relative;
	height:auto;
	width:80vw;
	margin:auto;
}

.center {
  display: flex;
  justify-content: center;
}
#AQI-recent{
   min-height: 225px;
   display: none;
}
#canvas {
  max-width: 100%;
}
.card-title h2{
  text-align: center;
}