<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/airQualiD.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="gradient-bg home">
  <div class="center">
      <canvas #gaugeCanvas id="canvas"></canvas>
  </div>

  <p class="center-text" id="statement">Air quality is considered good enough, and air pollution poses little or no risk</p>

  <ion-icon name="ios-arrow-down" expand="full"></ion-icon>



  <ion-card padding class="white-card">
      <div class="card-title">Air Quality Index</div>
      <div #chartContainer class='chart-container'>
        <canvas  #chartcanvas id="line-chart"></canvas>
    </div>
  </ion-card>

  <ion-card padding class="white-card">
      <div class="card-title">Pollutant Concentrations</div>
      <img src="/assets/img/chart2.png"/>
      <div class="card-subtitle">64 Listings</div>
  </ion-card>
</ion-content>
