<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/airQualiD.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-bg home ion-padding">
  <Gauge></Gauge>

  <p class="center-text" id="statement">Air quality is considered good enough, and air pollution poses little or no risk</p>

  <ion-icon name="ios-arrow-down" expand="full"></ion-icon>

  <ion-card class="white-card ion-padding">
    <div class="card-title">
      <h2> 
        AQI of the Past Week
      </h2>
      <LineChart></LineChart>
    </div>
    
  </ion-card>

  <ion-card class="white-card ion-padding">
      <div class="card-title">Pollutant Concentrations</div>
      <img src="/assets/img/chart2.png"/>
      <div class="card-subtitle">64 Listings</div>
  </ion-card>
</ion-content>